body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

#background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

#background #percentStroke {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: conic-gradient(purple 100deg,transparent 0deg);
}

#background #percentStroke #innerBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: ghostwhite;
    border-radius: 100%;
}

#background #percentStroke #innerBackground #innerCircle{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 5px solid rgb(14, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
}

#background #percentStroke #innerBackground #innerCircle #drinkImage{
    size: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(233, 221, 221);
}




#background2{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

#background2 #percentStroke2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: conic-gradient(purple 250deg,transparent 0deg);
}

#background2 #percentStroke2 #innerBackground2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgb(233, 221, 221);
    border-radius: 100%;
}

#background2 #percentStroke2 #innerBackground2 #innerCircle2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 5px solid rgb(14, 11, 11);
}

#background2 #percentStroke2 #innerBackground2 #innerCircle2 #foodImage2{
    size: 70px;
    height: 70px;
    border-radius: 100%;
}

