body{
    background: rgba(78, 126, 114, 0.533);
    margin: 0;
}

.box{
    width: 70px;
    height:70px;
    position: relative;
    border-radius: 7px;
    background: gray;
    
    transition: 0.5s;
}

.box:hover{
    width: 200px;
    height:200px;
    border-radius: 10px;
 }

    


